# List of required packages (Dependencies)
telegram
telegram.ext
datetime
git+git:https://github.com/nltk/nltk.git
requests
bs4
emoji
git+git:https://github.com/python/cpython/blob/master/Lib/urllib/request.py

